html {
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 400;
  color: #626262;
}

ul,
li,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

/*  Site-navigation  */
.nav-menu {
  padding: 71px 0 97px 0;
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 0;
}

.site-navigation-list {
  display: inline-block;
}

.site-navigation-list:not(:last-child) {
  margin-right: 107px;
}

.site-navigation-link {
  color: #626262;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #03a9f4;
}

/*  Main  */
.features {
  display: block;
  padding-bottom: 70px;
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  padding-bottom: 52px;
}

.features-list-item {
  display: inline-block;
  width: 420px;
  margin: 0 60px 136px 0;
}

.features-list-item:nth-child(2n) {
  margin-right: 0;
}

.features-list-item:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

.item-image {
  display: block;
  margin-bottom: 30px;
}

.subheading {
  font-family: 'Ubuntu', sans-serif;
  color: #b4ad9e;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 25px;
}

.heading {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  margin-bottom: 32px;
}

.text {
  font-size: 14px;
  line-height: 24px;
}

.button {
  display: block;
  width: 164px;
  height: 60px;
  background-color: #ffffff;
  border: 1px solid #626262;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  color: #626262;
  font-weight: 400;
  cursor: pointer;
}
