html {
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 400;
  color: #626262;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

/*  Site-navigation  */
.nav-menu {
  padding: 71px 0 97px 0;
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.site-navigation li {
  display: inline-block;
}

.site-navigation li:not(:last-child) {
  margin-right: 107px;
}

.site-navigation a {
  color: #626262;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #03a9f4;
}

/*  Main  */
img {
  display: block;
  margin-bottom: 30px;
}

h3 {
  font-family: 'Ubuntu', sans-serif;
  color: #b4ad9e;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 25px;
}

h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 32px;
}

p {
  font-size: 14px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 130px;
}

button {
  display: block;
  width: 164px;
  height: 60px;
  background-color: #ffffff;
  border: 1px solid #626262;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  color: #626262;
  font-weight: 400;
  cursor: pointer;
}

.features {
  display: block;
  padding-bottom: 70px;
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.features-list-item {
  display: inline-block;
  width: 420px;
  margin: 0;
  padding: 0;
  margin-right: 60px;
}

.features-list-item:nth-child(2n) {
  margin-right: 0;
}

.features-list-item:nth-last-child(-n + 2) {
  margin-bottom: 0;
}
